.container {
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: 20% 80%;
    width: 100%;
    height: 100%;
  }
  
  .toolbar {
    grid-row: 1;
    grid-column: 1 / span 2;
  }
  .scene {
    grid-row: 2;
    grid-column: 2;
  }

  .contentTree {
      grid-column: 1;
  }
  